# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
**/.DS_Store

# iOS/macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
macos/Pods/

# Android
android/.gradle/
android/captures/
android/app/*.keystore
android/app/*.jks

# VSCode/IDE
.vscode/
.idea/

# Env/Secrets
.env
.env.*

# Logs
*.log
